<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Sales Force Automation</title>
<link th:href="@{/css/um27xtxn.css}" rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" th:src="@{/js/um27xtxn.js}"></script>
</head>
<body>
	<div class="header">
		<div align="right">
			<a th:href="@{home}"> Home </a>
		</div>
		<header>
			<h1>
				<span class="spanEdge">Sales Force </span> <span class="spantester">
					Automation </span>

			</h1>
		</header>
	</div>

	<h3 align="center">Contact Search</h3>
	<br> <br>
	<br> <br>
<form th:action="@{searchContactByNameAndEmail}" th:object="${contact}" method="post">
	<div align="center">
				<label> Name : </label> <input th:field= "*{name}" type="text"> <br> <br>

				<label> Email : </label> <input th:field= "*{email}" type="text"> <br> <br>

			<input type="submit">
	</div>

	</form>
	
<!-- 	<div th:if="${ not#lists.isEmpty(contacts)}" >
	<table border="1">
		<tr>
			<th>Title</th>
			<th>Name</th>
			<th>Account</th>
			<th>Address</th>
			<th>E-mail</th>
			<th>Work Phone</th>
			<th>Mobile Phone</th>
		
		</tr>
		<tr th:each="contact : ${contacts}">
			<td th:text="${contact.title}"></td>
			<td th:text="${contact.name}"></td>
			<td th:text="${contact.account}"></td>
			<td th:text="${contact.address}"></td>
			<td th:text="${contact.email}"></td>
			<td th:text="${contact.workPhone}"></td>
			<td th:text="${contact.mobilePhone}"></td>
			
		</tr>
	</table>
	
</div> -->
	
	
</body>

</html>