<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Sales Force Automation</title>
<link th:href="@{/css/um27xtxn.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/um27xtxn.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
		<header>
			<h1>
				<span class="spanEdge">Sales Force </span> <span class="spantester">
					Automation </span>

			</h1>
		</header>
	</div>

	<h3 align="center">Contact Search Result</h3>

		<div th:if="${ not#lists.isEmpty(contacts)}" >
	<table border="1">
		<tr>
			<th>Title</th>
			<th>Name</th>
			<th>Account</th>
			<th>Address</th>
			<th>E-mail</th>
			<th>Work Phone</th>
			<th>Mobile Phone</th>
		
		</tr>
		<tr th:each="contact : ${contacts}">
			<td th:text="${contact.title}"></td>
			<td th:text="${contact.name}"></td>
			<td th:text="${contact.account}"></td>
			<td th:text="${contact.address}"></td>
			<td th:text="${contact.email}"></td>
			<td th:text="${contact.workPhone}"></td>
			<td th:text="${contact.mobilePhone}"></td>
			
		</tr>
	</table>
	
</div>

	<div th:unless="${ not#lists.isEmpty(contacts)}" align="center">
		<div > No Results Found</div>
	</div>
</body>

</html>