<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Sales Force Automation</title>
<link th:href="@{/css/um27xtxn.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/um27xtxn.js}"></script>
</head>
<body>
	<div class="header">
		<div align="right">
			<a th:href="@{home}"> Home </a>
		</div>

		<header>
			<h1>
				<span class="spanEdge">Sales Force </span> <span class="spantester">
					Automation </span>

			</h1>
		</header>
	</div>

	<h3 align="center">Opportunity List</h3>
	<div th:if="${ not#lists.isEmpty(opportunities)}">
		<table border="1">
			<tr>
				<th>Name</th>
				<th>Win Percentage</th>
				<th>Account</th>
				<th></th>
				<th>Close Date</th>
				<th>Estimated Revenue</th>
				<th>Risk Level</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="opportunity : ${opportunities}">
				<td style="display: none;" th:text="${opportunity.oId}" id="oId"
					th:name="oId"></td>
				<td th:text="${opportunity.name}"></td>
				<td th:text="${opportunity.winPercentage}"></td>
				<td th:text="${opportunity.account}"></td>
				<td><a
					th:href="@{viewPrimaryContacts/{cId}/{oId}/(cId=${opportunity.primaryContactId} , 
					oId=${opportunity.oId})}">
						<span> View Primary Contact</span>
				</a></td>
				<td th:text="${opportunity.closeDate}"></td>
				<td th:text="${opportunity.estimatedRevenue}"></td>
				<td th:text="${opportunity.riskLevel}"></td>
				<td><a
					th:href="@{addAssociatedContacts/{oId}/(oId=${opportunity.oId})}">
						<span> Add Contacts</span>
				</a></td>
				<td><a
					th:href="@{manageOpportunity/{oId}/(oId=${opportunity.oId})}">
						<span class="glyphicon glyphicon-edit"></span>
				</a></td>
				<td><a
					th:href="@{deleteOportunity/{oId}/(oId=${opportunity.oId})}"> <i
						class="fa fa-trash"> </i>
				</a></td>
			</tr>

		</table>
	</div>

	<div th:unless="${ not#lists.isEmpty(opportunities)}" align="center">
		<div>No Results Found</div>
	</div>

</body>

</html>